## Project
1. Priyanshu Bansal (2019UME0196)

PPT LINK:
https://docs.google.com/presentation/d/1ZfKQG_HY7U1dDhA79um_MY4CruyWl1U6Y_X_Wru5GoA/edit?usp=sharing

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data_set_1 = pd.read_csv('/content/drive/MyDrive/Machine Learning assignment/changes-visitors-covid.csv')
data_set_1.head()

,Entity,Code,Day,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces
0,Afghanistan,AFG,2020-02-17,0.00,4.000,1.333,5.667,1.000,-6.333
1,Afghanistan,AFG,2020-02-18,0.75,4.250,0.750,6.500,1.500,-3.250
2,Afghanistan,AFG,2020-02-19,0.40,4.000,0.800,5.200,1.400,-1.600
3,Afghanistan,AFG,2020-02-20,0.00,3.833,0.833,5.000,1.000,-0.333
4,Afghanistan,AFG,2020-02-21,0.00,4.571,0.714,5.286,1.429,0.571

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data_set_2 = pd.read_csv('/content/drive/MyDrive/Machine Learning assignment/owid-covid-data (1).csv')
print(data_set_2.head())

  iso_code continent     location        date  total_cases  new_cases  \
0      AFG      Asia  Afghanistan  2020-02-24          1.0        1.0
1      AFG      Asia  Afghanistan  2020-02-25          1.0        0.0
2      AFG      Asia  Afghanistan  2020-02-26          1.0        0.0
3      AFG      Asia  Afghanistan  2020-02-27          1.0        0.0
4      AFG      Asia  Afghanistan  2020-02-28          1.0        0.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN           NaN         NaN                  NaN  ...
1                 NaN           NaN         NaN                  NaN  ...
2                 NaN           NaN         NaN                  NaN  ...
3                 NaN           NaN         NaN                  NaN  ...
4                 NaN           NaN         NaN                  NaN  ...

   gdp_per_capita  extreme_poverty  cardiovasc_death_rate  \
0        1803.987              NaN                597.029
1        1803.987              NaN                597.029
2        1803.987              NaN                597.029
3        1803.987              NaN                597.029
4        1803.987              NaN                597.029

   diabetes_prevalence  female_smokers  male_smokers  handwashing_facilities  \
0                 9.59             NaN           NaN                  37.746
1                 9.59             NaN           NaN                  37.746
2                 9.59             NaN           NaN                  37.746
3                 9.59             NaN           NaN                  37.746
4                 9.59             NaN           NaN                  37.746

   hospital_beds_per_thousand  life_expectancy  human_development_index
0                         0.5            64.83                    0.511
1                         0.5            64.83                    0.511
2                         0.5            64.83                    0.511
3                         0.5            64.83                    0.511
4                         0.5            64.83                    0.511

[5 rows x 59 columns]

In [ ]:
data_set_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93331 entries, 0 to 93330
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               93331 non-null  object
 1   continent                              88910 non-null  object
 2   location                               93331 non-null  object
 3   date                                   93331 non-null  object
 4   total_cases                            90358 non-null  float64
 5   new_cases                              90356 non-null  float64
 6   new_cases_smoothed                     89344 non-null  float64
 7   total_deaths                           80419 non-null  float64
 8   new_deaths                             80576 non-null  float64
 9   new_deaths_smoothed                    89344 non-null  float64
 10  total_cases_per_million                89874 non-null  float64
 11  new_cases_per_million                  89873 non-null  float64
 12  new_cases_smoothed_per_million         88866 non-null  float64
 13  total_deaths_per_million               79948 non-null  float64
 14  new_deaths_per_million                 80106 non-null  float64
 15  new_deaths_smoothed_per_million        88866 non-null  float64
 16  reproduction_rate                      75207 non-null  float64
 17  icu_patients                           9494 non-null   float64
 18  icu_patients_per_million               9494 non-null   float64
 19  hosp_patients                          11790 non-null  float64
 20  hosp_patients_per_million              11790 non-null  float64
 21  weekly_icu_admissions                  860 non-null    float64
 22  weekly_icu_admissions_per_million      860 non-null    float64
 23  weekly_hosp_admissions                 1496 non-null   float64
 24  weekly_hosp_admissions_per_million     1496 non-null   float64
 25  new_tests                              42232 non-null  float64
 26  total_tests                            41921 non-null  float64
 27  total_tests_per_thousand               41921 non-null  float64
 28  new_tests_per_thousand                 42232 non-null  float64
 29  new_tests_smoothed                     48940 non-null  float64
 30  new_tests_smoothed_per_thousand        48940 non-null  float64
 31  positive_rate                          46132 non-null  float64
 32  tests_per_case                         45533 non-null  float64
 33  tests_units                            50527 non-null  object
 34  total_vaccinations                     13336 non-null  float64
 35  people_vaccinated                      12566 non-null  float64
 36  people_fully_vaccinated                9841 non-null   float64
 37  new_vaccinations                       11173 non-null  float64
 38  new_vaccinations_smoothed              22749 non-null  float64
 39  total_vaccinations_per_hundred         13336 non-null  float64
 40  people_vaccinated_per_hundred          12566 non-null  float64
 41  people_fully_vaccinated_per_hundred    9841 non-null   float64
 42  new_vaccinations_smoothed_per_million  22749 non-null  float64
 43  stringency_index                       78755 non-null  float64
 44  population                             92713 non-null  float64
 45  population_density                     86780 non-null  float64
 46  median_age                             83688 non-null  float64
 47  aged_65_older                          82744 non-null  float64
 48  aged_70_older                          83224 non-null  float64
 49  gdp_per_capita                         83948 non-null  float64
 50  extreme_poverty                        56777 non-null  float64
 51  cardiovasc_death_rate                  84087 non-null  float64
 52  diabetes_prevalence                    86077 non-null  float64
 53  female_smokers                         65815 non-null  float64
 54  male_smokers                           64850 non-null  float64
 55  handwashing_facilities                 42239 non-null  float64
 56  hospital_beds_per_thousand             76651 non-null  float64
 57  life_expectancy                        88620 non-null  float64
 58  human_development_index                84258 non-null  float64
dtypes: float64(54), object(5)
memory usage: 42.0+ MB

In [ ]:
data_set_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61950 entries, 0 to 61949
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Entity                 61950 non-null  object
 1   Code                   61950 non-null  object
 2   Day                    61950 non-null  object
 3   retail_and_recreation  60850 non-null  float64
 4   grocery_and_pharmacy   60875 non-null  float64
 5   residential            60586 non-null  float64
 6   transit_stations       61072 non-null  float64
 7   parks                  60891 non-null  float64
 8   workplaces             61909 non-null  float64
dtypes: float64(6), object(3)
memory usage: 4.3+ MB

data set 1

In [ ]:
data_1=data_set_1[data_set_1.Entity=='India']

In [ ]:
data_1.head()

,Entity,Code,Day,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces
23897,India,IND,2020-02-17,0.667,1.667,0.000,2.000,3.000,3.000
23898,India,IND,2020-02-18,0.500,1.750,0.000,2.000,3.250,3.000
23899,India,IND,2020-02-19,0.400,1.800,0.200,1.800,2.800,3.200
23900,India,IND,2020-02-20,0.500,2.000,0.000,2.333,3.167,3.333
23901,India,IND,2020-02-21,-0.143,1.714,0.714,1.429,3.571,0.143

In [ ]:
data_1.tail()

,Entity,Code,Day,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces
24363,India,IND,2021-05-28,-61.714,-25.000,24.143,-49.143,-41.000,-45.429
24364,India,IND,2021-05-29,-61.286,-24.429,23.714,-48.714,-40.000,-44.571
24365,India,IND,2021-05-30,-61.143,-24.714,23.714,-49.000,-39.143,-44.286
24366,India,IND,2021-05-31,-60.143,-23.429,23.286,-48.286,-38.000,-43.429
24367,India,IND,2021-06-01,-58.714,-21.143,22.714,-47.000,-36.571,-42.429

In [ ]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 471 entries, 23897 to 24367
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Entity                 471 non-null    object
 1   Code                   471 non-null    object
 2   Day                    471 non-null    object
 3   retail_and_recreation  471 non-null    float64
 4   grocery_and_pharmacy   471 non-null    float64
 5   residential            471 non-null    float64
 6   transit_stations       471 non-null    float64
 7   parks                  471 non-null    float64
 8   workplaces             471 non-null    float64
dtypes: float64(6), object(3)
memory usage: 36.8+ KB

In [ ]:
data_2=data_set_2[data_set_2.iso_code=='IND']

In [ ]:
data_2.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
38584,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
38585,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
38586,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
38587,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
38588,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645

In [ ]:
data_2.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
39070,IND,Asia,India,2021-05-30,28047534.0,152734.0,185012.429,329100.0,3128.0,3625.714,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
39071,IND,Asia,India,2021-05-31,28175044.0,127510.0,175167.143,331895.0,2795.0,3523.429,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
39072,IND,Asia,India,2021-06-01,28307832.0,132788.0,164291.000,335102.0,3207.0,3387.714,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
39073,IND,Asia,India,2021-06-02,28441986.0,134154.0,153270.429,337989.0,2887.0,3250.571,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
39074,IND,Asia,India,2021-06-03,28574350.0,132364.0,145556.143,340702.0,2713.0,3115.286,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645

In [ ]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 491 entries, 38584 to 39074
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               491 non-null    object
 1   continent                              491 non-null    object
 2   location                               491 non-null    object
 3   date                                   491 non-null    object
 4   total_cases                            491 non-null    float64
 5   new_cases                              491 non-null    float64
 6   new_cases_smoothed                     486 non-null    float64
 7   total_deaths                           450 non-null    float64
 8   new_deaths                             450 non-null    float64
 9   new_deaths_smoothed                    486 non-null    float64
 10  total_cases_per_million                491 non-null    float64
 11  new_cases_per_million                  491 non-null    float64
 12  new_cases_smoothed_per_million         486 non-null    float64
 13  total_deaths_per_million               450 non-null    float64
 14  new_deaths_per_million                 450 non-null    float64
 15  new_deaths_smoothed_per_million        486 non-null    float64
 16  reproduction_rate                      445 non-null    float64
 17  icu_patients                           0 non-null      float64
 18  icu_patients_per_million               0 non-null      float64
 19  hosp_patients                          0 non-null      float64
 20  hosp_patients_per_million              0 non-null      float64
 21  weekly_icu_admissions                  0 non-null      float64
 22  weekly_icu_admissions_per_million      0 non-null      float64
 23  weekly_hosp_admissions                 0 non-null      float64
 24  weekly_hosp_admissions_per_million     0 non-null      float64
 25  new_tests                              422 non-null    float64
 26  total_tests                            432 non-null    float64
 27  total_tests_per_thousand               432 non-null    float64
 28  new_tests_per_thousand                 422 non-null    float64
 29  new_tests_smoothed                     441 non-null    float64
 30  new_tests_smoothed_per_thousand        441 non-null    float64
 31  positive_rate                          441 non-null    float64
 32  tests_per_case                         441 non-null    float64
 33  tests_units                            448 non-null    object
 34  total_vaccinations                     135 non-null    float64
 35  people_vaccinated                      135 non-null    float64
 36  people_fully_vaccinated                106 non-null    float64
 37  new_vaccinations                       130 non-null    float64
 38  new_vaccinations_smoothed              139 non-null    float64
 39  total_vaccinations_per_hundred         135 non-null    float64
 40  people_vaccinated_per_hundred          135 non-null    float64
 41  people_fully_vaccinated_per_hundred    106 non-null    float64
 42  new_vaccinations_smoothed_per_million  139 non-null    float64
 43  stringency_index                       488 non-null    float64
 44  population                             491 non-null    float64
 45  population_density                     491 non-null    float64
 46  median_age                             491 non-null    float64
 47  aged_65_older                          491 non-null    float64
 48  aged_70_older                          491 non-null    float64
 49  gdp_per_capita                         491 non-null    float64
 50  extreme_poverty                        491 non-null    float64
 51  cardiovasc_death_rate                  491 non-null    float64
 52  diabetes_prevalence                    491 non-null    float64
 53  female_smokers                         491 non-null    float64
 54  male_smokers                           491 non-null    float64
 55  handwashing_facilities                 491 non-null    float64
 56  hospital_beds_per_thousand             491 non-null    float64
 57  life_expectancy                        491 non-null    float64
 58  human_development_index                491 non-null    float64
dtypes: float64(54), object(5)
memory usage: 230.2+ KB

In [ ]:
data_2=data_2[(data_2.date>='2020-02-17') & (data_2.date<='2021-06-01')]

In [ ]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 471 entries, 38602 to 39072
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               471 non-null    object
 1   continent                              471 non-null    object
 2   location                               471 non-null    object
 3   date                                   471 non-null    object
 4   total_cases                            471 non-null    float64
 5   new_cases                              471 non-null    float64
 6   new_cases_smoothed                     471 non-null    float64
 7   total_deaths                           448 non-null    float64
 8   new_deaths                             448 non-null    float64
 9   new_deaths_smoothed                    471 non-null    float64
 10  total_cases_per_million                471 non-null    float64
 11  new_cases_per_million                  471 non-null    float64
 12  new_cases_smoothed_per_million         471 non-null    float64
 13  total_deaths_per_million               448 non-null    float64
 14  new_deaths_per_million                 448 non-null    float64
 15  new_deaths_smoothed_per_million        471 non-null    float64
 16  reproduction_rate                      444 non-null    float64
 17  icu_patients                           0 non-null      float64
 18  icu_patients_per_million               0 non-null      float64
 19  hosp_patients                          0 non-null      float64
 20  hosp_patients_per_million              0 non-null      float64
 21  weekly_icu_admissions                  0 non-null      float64
 22  weekly_icu_admissions_per_million      0 non-null      float64
 23  weekly_hosp_admissions                 0 non-null      float64
 24  weekly_hosp_admissions_per_million     0 non-null      float64
 25  new_tests                              420 non-null    float64
 26  total_tests                            430 non-null    float64
 27  total_tests_per_thousand               430 non-null    float64
 28  new_tests_per_thousand                 420 non-null    float64
 29  new_tests_smoothed                     439 non-null    float64
 30  new_tests_smoothed_per_thousand        439 non-null    float64
 31  positive_rate                          439 non-null    float64
 32  tests_per_case                         439 non-null    float64
 33  tests_units                            446 non-null    object
 34  total_vaccinations                     133 non-null    float64
 35  people_vaccinated                      133 non-null    float64
 36  people_fully_vaccinated                104 non-null    float64
 37  new_vaccinations                       128 non-null    float64
 38  new_vaccinations_smoothed              137 non-null    float64
 39  total_vaccinations_per_hundred         133 non-null    float64
 40  people_vaccinated_per_hundred          133 non-null    float64
 41  people_fully_vaccinated_per_hundred    104 non-null    float64
 42  new_vaccinations_smoothed_per_million  137 non-null    float64
 43  stringency_index                       470 non-null    float64
 44  population                             471 non-null    float64
 45  population_density                     471 non-null    float64
 46  median_age                             471 non-null    float64
 47  aged_65_older                          471 non-null    float64
 48  aged_70_older                          471 non-null    float64
 49  gdp_per_capita                         471 non-null    float64
 50  extreme_poverty                        471 non-null    float64
 51  cardiovasc_death_rate                  471 non-null    float64
 52  diabetes_prevalence                    471 non-null    float64
 53  female_smokers                         471 non-null    float64
 54  male_smokers                           471 non-null    float64
 55  handwashing_facilities                 471 non-null    float64
 56  hospital_beds_per_thousand             471 non-null    float64
 57  life_expectancy                        471 non-null    float64
 58  human_development_index                471 non-null    float64
dtypes: float64(54), object(5)
memory usage: 220.8+ KB

In [ ]:
list1=['Day','retail_and_recreation','grocery_and_pharmacy','residential','transit_stations','parks','workplaces']
parameters = data_1[list1]
parameters.reset_index(drop=True,inplace=True)
parameters.head()

,Day,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces
0,2020-02-17,0.667,1.667,0.000,2.000,3.000,3.000
1,2020-02-18,0.500,1.750,0.000,2.000,3.250,3.000
2,2020-02-19,0.400,1.800,0.200,1.800,2.800,3.200
3,2020-02-20,0.500,2.000,0.000,2.333,3.167,3.333
4,2020-02-21,-0.143,1.714,0.714,1.429,3.571,0.143

In [ ]:
parameters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Day                    471 non-null    object
 1   retail_and_recreation  471 non-null    float64
 2   grocery_and_pharmacy   471 non-null    float64
 3   residential            471 non-null    float64
 4   transit_stations       471 non-null    float64
 5   parks                  471 non-null    float64
 6   workplaces             471 non-null    float64
dtypes: float64(6), object(1)
memory usage: 25.9+ KB

In [ ]:
target=data_2['new_cases']
target.reset_index(drop=True,inplace=True)
target.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: new_cases, dtype: float64

In [ ]:
target.tail()

466    173790.0
467    165553.0
468    152734.0
469    127510.0
470    132788.0
Name: new_cases, dtype: float64

In [ ]:
pd.DataFrame(target)

     new_cases
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
..         ...
466   173790.0
467   165553.0
468   152734.0
469   127510.0
470   132788.0

[471 rows x 1 columns]

In [ ]:
months = []
days = []
for i in range(0,len(parameters)):
  arr=parameters.iloc[i,0].split("-")
  months.append(int(arr[1]))
  days.append(int(arr[2]))
parameters["months"] = months
parameters["days"] = days
parameters.drop(['Day'], axis = 1,inplace=True)
parameters.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces,months,days
0,0.667,1.667,0.000,2.000,3.000,3.000,2,17
1,0.500,1.750,0.000,2.000,3.250,3.000,2,18
2,0.400,1.800,0.200,1.800,2.800,3.200,2,19
3,0.500,2.000,0.000,2.333,3.167,3.333,2,20
4,-0.143,1.714,0.714,1.429,3.571,0.143,2,21

In [ ]:
def standard_dev(col):
  mean_val=np.mean(col)
  sum=0
  for i in col:
    sum=sum+(i-mean_val)**2
  sum=sum/len(col)
  return (sum)**(0.5)

In [ ]:
standard_dev(target)

89327.94182789266

In [ ]:
whole_table=pd.concat([parameters,target], axis=1)
whole_table.head()

,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces,months,days,new_cases
0,0.667,1.667,0.000,2.000,3.000,3.000,2,17,0.0
1,0.500,1.750,0.000,2.000,3.250,3.000,2,18,0.0
2,0.400,1.800,0.200,1.800,2.800,3.200,2,19,0.0
3,0.500,2.000,0.000,2.333,3.167,3.333,2,20,0.0
4,-0.143,1.714,0.714,1.429,3.571,0.143,2,21,0.0

In [ ]:
whole_table.keys()

Index(['retail_and_recreation', 'grocery_and_pharmacy', 'residential',
       'transit_stations', 'parks', 'workplaces', 'months', 'days',
       'new_cases'],
      dtype='object')

### Creating Regression Tree
we can create regression tree with the help of classes there are two nodes in the class 


1.   Internal node : contains information on which parameter we need to split and at what point
2.   Leaf Node: contain avg value

In [ ]:
class TreeNode():
    def __init__(self, feature_index=None, threshold=None, left=None, right=None, varince_reduction=None, value=None):#setting default argument None
        
        # for decision node
        self.feature_index = feature_index # for storing feature on which we need to split
        self.threshold = threshold # storing threshold value on which we need to deside
        self.left = left # storing left children < threshold
        self.right = right # storing right children > threshold
        self.varince_reduction = varince_reduction
        
        # for leaf node
        self.value = value

In [ ]:
class Decision_Tree_regression():
    def __init__(self, min_split_sample=2, max_depth=2):
        # condition for where to stop
        self.max_depth = max_depth
        self.min_split_sample = min_split_sample
        self.root = None # initialize the root of the tree
  
    def fit(self, X, Y):
        #function to train the tree
        
        dset = np.concatenate((X, Y), axis=1)
        self.root = self.make_tree(dset)
        
    def make_tree(self, dset, curr_depth=0):
        #used recursive function for building tree
        
        X, Y = dset[:,:-1], dset[:,-1]
        num_samples, num_features = np.shape(X)
        best_split = {}
        # split until stopping conditions are met
        if num_samples>=self.min_split_sample and curr_depth<=self.max_depth:
            # find the best split
            best_split = self.get_best_split(dset, num_samples, num_features)
            # check if information gain is positive
            if best_split["varince_reduction"]>0:
                # recur left
                left_subtree = self.make_tree(best_split["dataset_left"], curr_depth+1)
                # recur right
                right_subtree = self.make_tree(best_split["dataset_right"], curr_depth+1)
                # return decision node
                return TreeNode(best_split["feature_index"], best_split["threshold"], 
                            left_subtree, right_subtree, best_split["varince_reduction"])
        
        # compute leaf node
        leaf_value = np.mean(Y)
        # return leaf node
        return TreeNode(value=leaf_value)
    
    def get_best_split(self, dset, num_samples, num_features):
        #function to find the best split

        # dictionary to store the best split
        best_split = {}
        max_var_red = -float("inf")# taking maximum value - infinity
        # looping across all the feature
        for feature_index in range(num_features):
            feature_values = dset[:, feature_index]
            possible_thresholds = np.unique(feature_values)
            # loop across all the values in the chosed feature
            for threshold in possible_thresholds:
                # split the dataset about threshold
                dataset_left, dataset_right = self.split(dset, feature_index, threshold)
                # checking if childs are not null 
                if len(dataset_left)>0 and len(dataset_right)>0:
                    y, left_y, right_y = dset[:, -1], dataset_left[:, -1], dataset_right[:, -1]
                    # compute information gain
                    curr_var_red = self.variance_reduction(y, left_y, right_y)
                    # update the best split if we found another maximum varience reduction 
                    if curr_var_red>max_var_red:
                        best_split["threshold"] = threshold
                        best_split["feature_index"] = feature_index
                        best_split["dataset_right"] = dataset_right
                        best_split["dataset_left"] = dataset_left
                        best_split["varince_reduction"] = curr_var_red
                        max_var_red = curr_var_red
        return best_split
    
    def split(self, dset, feature_index, threshold):
        #function to split the data 
        dataset_right = np.array([row for row in dset if row[feature_index]>threshold])
        dataset_left = np.array([row for row in dset if row[feature_index]<=threshold])
        return dataset_left, dataset_right
    
    def variance_reduction(self, parent, l_child, r_child):
        #compute variance reduction of a node 
        
        weight_l = len(l_child) / len(parent)
        weight_r = len(r_child) / len(parent)
        reduction = np.var(parent) - (weight_l * np.var(l_child) + weight_r * np.var(r_child)) # compute varience reduction 
        return reduction
    
    
                
    def print_tree(self,col, tree=None, indent=" "):
        #function to print the tree
        
        if not tree:
            tree = self.root

        if tree.value is not None:
            print(tree.value)

        else:
            print(str(col[tree.feature_index]), "<=", tree.threshold, "varince reduction", tree.varince_reduction)
            print("%sleft node :" % (indent), end="")
            self.print_tree(col,tree.left, indent + indent)
            print("%sright node :" % (indent), end="")
            self.print_tree(col,tree.right, indent + indent)
    
    
    
        
    def predict(self, X):
        #function to predict a single data point
        
        preditions = [self.modal_prediction(x, self.root) for x in X]
        return preditions
        
    def modal_prediction(self, x, tree):
        #function to predict new dataset
        
        if tree.value!=None: return tree.value
        feature_val = x[tree.feature_index]
        if feature_val<=tree.threshold:
            return self.modal_prediction(x, tree.left)
        else:
            return self.modal_prediction(x, tree.right)

In [ ]:
def train_test_split(x, y, test_size = 0.2, random_state = None):

	""" partioning the data into train and test sets """

	x_test = x.sample(frac = test_size, random_state = random_state)
	y_test = y[x_test.index]

	x_train = x.drop(x_test.index)
	y_train = y.drop(y_test.index)

	return x_train, x_test, y_train, y_test

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(parameters, target, test_size = 0.25, random_state = 24)

In [ ]:
y_train=y_train.values.reshape(-1,1)
x_train=x_train.values

In [ ]:
# Running Decision Tree on our Dataset
regressor = Decision_Tree_regression(min_split_sample=14, max_depth=4)
regressor.fit(x_train,y_train)
regressor.print_tree(col=parameters.keys())

residential <= 16.571 varince reduction 753618300.3540001
 left node :months <= 3.0 varince reduction 379046567.8470712
  left node :grocery_and_pharmacy <= 17.286 varince reduction 109982916.49779278
    left node :grocery_and_pharmacy <= 5.143 varince reduction 54360721.13716619
        left node :months <= 1.0 varince reduction 27881457.28021978
                left node :12931.42857142857
                right node :15.192307692307692
        right node :months <= 2.0 varince reduction 81819037.3971875
                left node :14216.861111111111
                right node :41859.2
    right node :residential <= 8.143 varince reduction 224984165.115571
        left node :28198.0
        right node :61117.2
  right node :months <= 4.0 varince reduction 1197291383.5429945
    left node :retail_and_recreation <= -28.714 varince reduction 3224262608.6428576
        left node :233074.14285714287
        right node :119255.75
    right node :months <= 7.0 varince reduction 179660500.07263672
        left node :grocery_and_pharmacy <= -8.714 varince reduction 133862701.84022042
                left node :43435.166666666664
                right node :17456.5
        right node :retail_and_recreation <= -34.429 varince reduction 327917396.09562874
                left node :73318.25
                right node :37096.403225806454
 right node :retail_and_recreation <= -66.286 varince reduction 18057233227.457703
  left node :grocery_and_pharmacy <= -37.714 varince reduction 5554710.497877778
    left node :retail_and_recreation <= -82.143 varince reduction 449445.02238343254
        left node :grocery_and_pharmacy <= -45.857 varince reduction 297833.6331632653
                left node :1582.7
                right node :2790.75
        right node :months <= 3.0 varince reduction 75291.1870845204
                left node :134.0
                right node :746.6153846153846
    right node :retail_and_recreation <= -76.857 varince reduction 1802045.6543209879
        left node :4179.333333333333
        right node :7027.0
  right node :transit_stations <= -47.0 varince reduction 4807052971.894663
    left node :parks <= -44.714 varince reduction 4703399555.166822
        left node :297157.875
        right node :159140.6
    right node :360987.07692307694

In [ ]:
def standard_dev_data(col1,col2):
  sum=0
  count=0
  for i in col1:
    sum=sum+(i-col2[count])**2
    count=count+1
  sum=sum/len(col1)
  return (sum)**(0.5)
x_tst=x_test.values
y_pred_train = regressor.predict(x_train) 
y_pred_test = regressor.predict(x_tst) 
print(standard_dev_data(y_train,y_pred_train))
print(standard_dev_data(y_test,y_pred_test))

[17232.6068451]
36585.705658801126

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
regr_1 = DecisionTreeRegressor(max_depth=4,min_samples_split=14)

In [ ]:
regr_1.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=4, min_samples_split=14)

In [ ]:
y_1 = regr_1.predict(x_test)
y_2=regr_1.predict(x_train)
print(standard_dev_data(y_train,y_2))
print(standard_dev_data(y_test,y_1))

[20954.822678]
24450.08722744475

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but DecisionTreeRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

we can see that our model performed best on train data but performed poor on train data
but inbuild liberary handled this very well

In [ ]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x_train, y_train)
y_train_pre_reg=reg.predict(x_train)
y_test_pre_reg=reg.predict(x_test)
print(standard_dev_data(y_train,y_train_pre_reg))
print(standard_dev_data(y_test,y_test_pre_reg))

[58413.39641851]
[68835.84764099]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

performed poor

In [ ]:
#model 2
# parameters2=parameters->471//+10{0:461}
# target2=target->471+10{10:471}
#x_train2, x_test2, y_train2, y_test2 = train_test_split(parameters, target, test_size = 0.25, random_state = 24)
x=14
par2=parameters[0:(471-x)]
targ2=target[x:471]
targ2.reset_index(drop=True, inplace=True)
pd.DataFrame(targ2)
#pd.DataFrame(targ2)

     new_cases
0          2.0
1          0.0
2         23.0
3          2.0
4          1.0
..         ...
452   173790.0
453   165553.0
454   152734.0
455   127510.0
456   132788.0

[457 rows x 1 columns]

In [ ]:
x_train2, x_test2, y_train2, y_test2 = train_test_split(par2, targ2, test_size = 0.25, random_state = 24)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regr_2 = DecisionTreeRegressor(max_depth=4,min_samples_split=14)
regr_1.fit(x_train2, y_train2)
y2_1 = regr_1.predict(x_test2)
y2_2=regr_1.predict(x_train2)
print(standard_dev_data(y_train2,y2_2))
print(standard_dev_data(y_test2,y2_1))

20268.978321599603
20463.653093358753

In [ ]:
y_train2=y_train2.values.reshape(-1,1)
x_train2=x_train2.values
regressor = Decision_Tree_regression(min_split_sample=14, max_depth=4)
regressor.fit(x_train2,y_train2)
regressor.print_tree(col=parameters.keys())
x_tst2=x_test2.values
y_pred_train2 = regressor.predict(x_train2) 
y_pred_test2 = regressor.predict(x_tst2) 
print(standard_dev_data(y_train2,y_pred_train2))
print(standard_dev_data(y_test2,y_pred_test2))

months <= 3.0 varince reduction 512001160.6075897
 left node :grocery_and_pharmacy <= 14.143 varince reduction 522167842.3258747
  left node :grocery_and_pharmacy <= 2.429 varince reduction 27676974.428117488
    left node :months <= 1.0 varince reduction 8709184.443274386
        left node :12653.5
        right node :retail_and_recreation <= -16.286 varince reduction 121232.29254564377
                left node :829.6666666666666
                right node :62.59090909090909
    right node :retail_and_recreation <= -25.0 varince reduction 8775936.731835937
        left node :transit_stations <= -12.429 varince reduction 1160956.814464286
                left node :11170.92857142857
                right node :13330.6875
        right node :84.5
  right node :residential <= 8.143 varince reduction 1328490282.3487723
    left node :grocery_and_pharmacy <= 18.286 varince reduction 476226463.06250656
        left node :residential <= 7.0 varince reduction 32038471.73407408
                left node :16102.888888888889
                right node :27656.833333333332
        right node :64481.46153846154
    right node :151250.0
 right node :months <= 4.0 varince reduction 1501163420.46527
  left node :retail_and_recreation <= -76.143 varince reduction 27371450949.39461
    left node :retail_and_recreation <= -82.429 varince reduction 920452.8258833794
        left node :3492.8
        right node :1557.4615384615386
    right node :days <= 5.0 varince reduction 2397688954.2675
        left node :249281.6
        right node :retail_and_recreation <= -28.714 varince reduction 184315016.60444415
                left node :369152.3333333333
                right node :335211.6666666667
  right node :residential <= 22.0 varince reduction 819357175.6417794
    left node :months <= 6.0 varince reduction 189169306.74694437
        left node :retail_and_recreation <= -60.714 varince reduction 33670482.59631834
                left node :12015.857142857143
                right node :23785.733333333334
        right node :retail_and_recreation <= -37.429 varince reduction 311798208.98303676
                left node :68478.62162162163
                right node :33149.37142857143
    right node :retail_and_recreation <= -77.857 varince reduction 10601298333.378714
        left node :6320.111111111111
        right node :retail_and_recreation <= -61.429 varince reduction 2058145246.0459185
                left node :171924.0
                right node :262657.5714285714
[13520.97994586]
20699.43457006359

In [ ]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x_train2, y_train2)
y_train_pre_reg2=reg.predict(x_train2)
y_test_pre_reg2=reg.predict(x_test2)
print(standard_dev_data(y_train2,y_train_pre_reg2))
print(standard_dev_data(y_test2,y_test_pre_reg2))

[60659.10985067]
[63018.47001069]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"